---
---

@import "{{ site.theme }}";

a {
    color: #c04384;
}

a:hover, a:focus {
    color: #843860;
    font-weight: bold;
}

img {
    max-width: 60%;
}

header img {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.menu {
    width:270px;
    float:left;
    position:fixed;
    -webkit-font-smoothing:subpixel-antialiased;
  }

.menu ul {
    list-style: none;
    margin: 0;
}

.menu li {
    text-transform: uppercase;
}