---
---

@import "{{ site.theme }}";

a {
    color: #c04384;
}

a:hover, a:focus {
    color: #843860;
    font-weight: bold;
}

header h1 a {
    color: #222;
}

header img {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}